body, html {
	height: 100%;
	margin:0;
	font-family: Georgia, sans-serif;
	background-color: rgb(207, 226, 226);
}

h1 {
	position: relative;
	top: 35%;
	text-align: center;
	font-size: 4em;
	font-weight: oblique;
	margin-top: auto;
	color: #edf2f7;
	text-shadow: 2px 2px 8px #737373;
}

.content-style{
	text-align: center;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	color: white;

}

.subtitle {
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 3em;
	font-weight: oblique;
	color: #edf2f7;
	text-shadow: 2px 2px 8px #737373;
}

.img {
	border: 1px solid #ddd;/*Gray border*/
	border-radius: 4px;/*Rounded border*/
	padding: 5px;
	width: 200px;
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*navbar CSS*/
.navbar {
/*Layout Declarations*/
  position: fixed;
  z-index: 100;
  overflow: hidden;
  margin: auto;
/*Typograhy Declarations*/  
  background-color: rgb(207, 226, 226);
  width: 100%;
  left:0;
  top:0;
}

.navbar li.logo,
.navbar li.navbar_items {
	list-style-type: none;
	display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.05em;
}

.navbar li.navbar_items a:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  background-color: #dfecec;
  padding-bottom: 5px;
}

.navbar li.icon {
  display: none;
}

.div_navbar_items {
	float: right;
	padding-right:1%;
}

/*Responsive navigation bar: CSS*/

@media screen and (max-width: 875px) {
	.navbar li.navbar_items {
		display: none;
	}
	.navbar li.icon {
		float: right;
		display: inline-block;
		position: absolute;
		right: 0;
		top: 19px;
	}
}

@media screen and (max-width:875px) {
	.navbar.responsive {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: #bfd9d9;
		transition: background-color .6s;
	}
}

.navbar.responsive li.logo {
	float: left;
	display: block;
}
.navbar.responsive.div_navbar_items {
	float: none;
	padding-right: 0;
}

.navbar.responsive li.navbar_items {
	display: block;
	padding: 50px;
	font-size: 25px;
}
.navbar.responsive li.navbar_items a {
	display: block;
	text-align: center;
}

.navbar.responsive li.navbar_items a:hover{
	color: #afcfcf;
	border-bottom-color: transparent;
}
/*end of navigation bar styling - responsive*/

.bg {
	background: url("../img/img2.jpg");
	height: 90%;
	background-position: 0% 55%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	vertical-align: top;
	-webkit-transform-origin: center top;
		transform-origin: center top;
	-webkit-transform: translateZ(-1px) scale(2);
		transform: translateZ(-1px);
}

